.projectWork {
  background-color: #212020;
  padding: 35px 150px;
}
.projectWorkImg {
  width: 92%;
  height: 280px;
  padding-top: 15px;
  padding-bottom: 50px;
}
.projectWorkTxt {
  color: #fff;
  font-size: 20px;
line-height: 70px;
}
.skyBlue {
  height: 20vh;
}
@media (max-width: 920px) {
  .projectWork {
    padding: 35px 100px;
  }
}
@media (max-width: 720px) {
  .projectWork {
    padding: 35px 70px;
  }
}
@media (max-width: 540px) {
  .projectWorkImg {
    width: 100%;
    /* height: auto; */
  }
}
@media (max-width: 480px) {
  .projectWork {
    padding: 25px 35px;
  }
}
